<link rel="import" href="blog-preview.html">
<dom-module id="blog-posts">
    <template>
        <template is="dom-repeat" items="{{posts}}">
            <blog-preview post="{{item}}"></blog-preview>
        </template>
    </template>
    <script>
        Polymer({
            is: "blog-posts",
            properties: {
                posts: {type: Array, notify: true, value: [] },
                num_posts: { type: Number, value: 0, notify: true },
                source: {type: String, value: "http://" + document.domain + ":8080"}
            },
            getPosts: function(){
                //return test data... ideally this is a temporary thing.
                var post_count = this.getPostCount();
                console.log("post_count: " + post_count);
                for (var i = 1; i <= post_count; ++i){
                    $.ajax({
                        context: this,
                        type: "GET",
                        url: this.source + "?type=single&postID=" + i,
                        dataType: "json",
                        headers: {
                            'Access-Control-Allow-Headers': 'Content-Type, Access-Control-Allow-Headers'
                        }
                    }).done(function(data){
                        console.log("Recieved data: " + data.title + ", " + data.image);
                        this.push("posts", data);
                    });
                } 
            },
            ready: function(){
                //fetch data, in this case... it's sample data.
                console.log("Prepping posts");
                this.getPosts();
                
                //this is here for the time while I get a backend setup
                if (this.num_posts == 0){
                    var data = {
                        title: "Sorry, this is filler!",
                        date: "DATE",
                        summary: "I am still working on finding some spare equiptment to run the back end on.  Sorry for the inconvinience.",
                        body: "It's quite sad when a developer cannot find hardware to run their code on.  I will remedy this shortly.  In the meantime, please enjoy the rest of the site.  Most of it works, even if it's test data!",
                        image: "../images/post-headers/post_1.png"
                    }
                    this.push("posts", data);
                }
            },
            getPostCount: function(){
                $.ajax({
                    context: this,
                    async: false,
                    type: "GET",
                    url: this.source + "?type=count",
                    dataType: "json",
                    headers: {
                        'Access-Control-Allow-Headers': 'Content-Type, Access-Control-Allow-Headers'
                    },
                    timeout: 1000
                }).done(function(data){
                    console.log("updating num posts to: " + data.count);
                    this.set("num_posts", data.count);
                });
                return this.num_posts;
            }
        });
    </script>
</dom-module>