<link rel="import" href="../imports.html">
<dom-module id="blog-preview">
    <template>
        <paper-card heading="{{title}}" image="{{image}}">
            <div class="card-content">
                <p>{{date}}</p>
                <p id="description">{{summary}}</p>
            </div>
            <div class="card-actions">
                <paper-button raised on-click="tap(null, null, null)">More...</paper-button>
            </div>
        </paper-card>
    </template>
    
    <script>
        Polymer({
            is: 'blog-preview',
            properties: {
                image: {type: String, value: "test" },
                summary: {type: String, value: "Summary"},
                title: String,
                date: String,
                post: Object,
                id: Number
            },
            ready: function(){
                if (this.post != null){
                    console.log("digesting post: " + this.post);
                    this.image = this.post.image;
                    this.title = this.post.title;
                    this.summary = this.post.summary;
                    this.date = this.post.date;
                    this.id = this.post.id;
                }
                console.log("Post ready: " + this.title + ", \n" + this.date + ", \n" + this.image + ", \n" + this.summary);
            },
            tap: function(event, detail, sender){
                console.log("clicked post: " + this.title);
                window.location.replace(MoreRouting.urlFor("post", {postID: this.id}));
            }
        });
    </script>
    <style>
        .crop {
            width: 50%;
            height: 50%;
            overflow: hidden;
        }
        .content {
            margin: 10px;
        }
        .inline {
            display: inline;
        }
        
        a, a:visited, a:hover, a:active {
            text-decoration: none;
        }
    </style>
</dom-module>
