<link rel="import" href="../imports.html">
<dom-module id="blog-preview">
    <template>
        <paper-card heading="{{title}}" image="{{image}}">
            <div class="card-content">
                <p>{{date}}</p>
                <p id="description">{{summary}}</p>
            </div>
            <div class="card-actions">
                <paper-button raised on-click="tap">More...</paper-button>
            </div>
        </paper-card>
    </template>
    
    <script>
        Polymer({
            is: 'blog-preview',
            properties: {
                image: {type: String, value: "test" },
                summary: {type: String, value: "Summary"},
                title: String,
                date: String,
                post: Object,
                id: Number,
                selected: {type: Number, notify: true},
                tracker: Number
            },
            ready: function(){
                if (this.post != null){
                    this.image = this.post.image;
                    this.title = this.post.title;
                    this.summary = this.post.summary;
                    this.date = this.post.date;
                    this.id = this.post.id;
                }
            },
            tap: function(event, detail, sender){
                var location = MoreRouting.urlFor("blog-post", {postID: this.id});
                console.log("Tracker: " + this.tracker);
                console.log("Redirecting to post at address: " + location);
                window.location.href = location;
            }
        });
    </script>
    <style>
        .crop {
            width: 50%;
            height: 50%;
            overflow: hidden;
        }
        .content {
            margin: 10px;
        }
        .inline {
            display: inline;
        }
        
        a, a:visited, a:hover, a:active {
            text-decoration: none;
        }
    </style>
</dom-module>
