<dom-module id="home-view">
    <template>
        <h1>John's Homepage</h1>
        <p class="inline">This website is still under construction. The last update occured on:</p> 
        <p class="inline">{{lastWork}}</p><br/><br/>
        <p class="inline">Work notes: </p> <p class="inline">{{workNotes}}</p>
        <!--
        <google-calendar-busy-now calendarId="{{calendarId}}"
                                  apiKey="AIzaSyB3rcSo5F-we775xu-ykLrAW9I0eSl8qKI"
                                  busyLabel="Busy"
                                  freeLabel="I should be free">
        </google-calendar-busy-now>
-->
    </template>
    <script>
        Polymer({
            is: "home-view",
            properties:
            {
                calendarId: {type: String, value: "mcavey.net_um9p6ti4n87egakegfojr7hb90@group.calendar.google.com"},
                lastWork: {type: String, value: "August 12, 2015"},
                workNotes: {type: String, value: "I have updated the sites contents a little.  Most everything has real data.  However, for components without real data there is test data to demonstrate the functionality.  For example, the blog has sample data to demonstrate its behavior desite the fact I do not yet have a place to host the back end."}
            },
            ready: function(){
            }
        });
    </script>
</dom-module>