<dom-module id="project-quick-view">
    <template>
        <paper-card heading="{{project.name}}">
            <div class="card-content">
                <p>{{project.end_date}}</p>
                <p>Members:</p>
                <template is="dom-repeat" items="{{project.project_members}}" as="member">
                    <p class="inline">{{member}}</p><br/>
                </template>
                <p id="description">{{project.short_desc}}</p>
            </div>
            <div class="card-actions">
                <paper-button raised on-click="_toGithub">View on Github</paper-button>
                <template is="dom-if" if="{{hasDemo}}">
                    <paper-button raised on-click="_toDemo">Demo</paper-button>
                </template>
                
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is: "project-quick-view",
            properties: {
                project: Object,
                hasDemo: Boolean
            },
            _toGithub: function(){
                window.location.replace(this.project.source);
            },
            _toDemo:function(){
                window.location.replace(this.project.demo);
            },
            ready: function(){
                var hasDemo = this.project.demo != null;
                this.set("hasDemo", hasDemo);
            }
        });
    </script>
</dom-module>