<dom-module id="projects-view">
    <template>
        <template is="dom-repeat" items="{{projects}}" as="project">
            <project-quick-view project="{{project}}"></project-quick-view>
        </template>
    </template>
    <script>
        Polymer({
            is: "projects-view",
            properties: {
                projects : {type: Array, value: [
                    {
                        name: "Civet",
                        start_date: "May 2015",
                        end_date: "In Progress",
                        source : "https://github.com/cd24/Civet",
                        short_desc : "Civet is a project I have been working on since the beginning of the summer of 2015.  It is designed to take two separated jars and run them using Intel's SGX architecture.  For more information about the benefits of SGX, please see Intels site: https://software.intel.com/en-us/blogs/2013/09/26/protecting-application-secrets-with-intel-sgx.  This is one of the first attempts at using a managed language with SGX.",
                        project_members: ["Bhushan Jain (Stony Brook University)", "Chai-Che Tsai (Stony Brook University)", "John McAvey (Hendrix College)"]
                    },
                    {
                        name: "Cereal Killer",
                        start_date: "March 2015",
                        end_date: "April 2015",
                        source : "https://github.com/teirce/LudumDare32",
                        demo: "/Projects/CerealKiller/index.html",
                        short_desc : "Cereal Killer is a game we designed for the Ludum Dare game competition.  This project was part of our game development class and was built using the Unity engine.  The game was a lot of fun to work on, and has improved greatly since our submission to Ludum Dare.",
                        project_members: ["Connor Bell (Hendrix Colleg", "JD Hoglan (Hendrix College)", "John McAvey (Hendrix College)"]
                    },
                    {
                        name: "SQLiteInterface",
                        start_date: "September 2014",
                        end_date: "October 2014",
                        source : "https://github.com/cd24/SQLiteInterface",
                        short_desc : "SQLiteInterface is a project designed to simplify the life of the average Java developer who wants to utilize SQLite. This project allows the user to define an object that can then be automatically saved to a database.  It's such a nice interface, it will even construct the tables for you if you haven't created them yet!  This project is still being added to (lazy evaluation is broken), but is largely functional.  The most recent piece of construction is the evaluation of looping references.  This is still in progress and can cause errors.",
                        project_members: ["John McAvey (Hendrix College)"]
                    },
                    {
                        name: "Logo Interpreter",
                        start_date: "September 2014",
                        end_date: "November 2014",
                        source : "https://github.com/cd24/LogoInterpreter",
                        short_desc : "Logo is a programming language designed to control a turtle.  This is a simple development environment within which to work on the Logo Language.  To power the environment, I wrote a Logo Interpreter which utilises the Grambler parse engine.  Grambler was designed and implemented by Dr. Gabriel Ferrer of Hendrix College.",
                        project_members: ["John McAvey (Hendrix College)"]
                    }
                ]}
            },
            ready: function(){
            }
        });
    </script>
</dom-module>