<div style="width: 90%; height: 80px; display: inline-block; vertical-align: middle;">
    <image src="./$image$" style="float: left; width: 55px; height: 55px; margin-top: 10pt" >
    <div style="margin-left: 5%;  display: inline-block; height: 60px;">
        <h3 style="margin-bottom: 4px;">$title$</h3>
        <h4 style="margin-top: 4px;">
            $if(companyurl)$
            <a href="$companyurl$">
            $endif$
                $company$
            $if(companyurl)$
            </a>
            $endif$
        </h4>
    </div>
</div>
<br />
<div style="margin-top: 10pt">
    $body$
</div>
