<article>
    <section class="header">
        $if(conferencepage)$ <a href="$conferencepage$"> $endif$
            $if(conference)$
            $conference$ - $year$
            <br />
            $endif$
            $if(journal)$
            $journal$ - $year$
            <br />
            $endif$
            $if(conferencepage)$ </a> $endif$
        $if(authors)$
        Authors: $authors$
        $endif$
        $if(pdf)$
        <br />
        <p><a href="/$pdf$">PDF</a></p>
        $endif$
    </section>
    <section>
        $body$
    </section>
</article>